body {
  background: #eee;
}

::selection {
  background: #328efe;
}

#container {
  background: #fff;
  padding: 15px 10px;
  margin-top: 20px;
}

#content {
  width: 680px;
  float: left;
}

#sidebar {
  width: 220px;
  float: right;
}

.profile {
  position: relative;
}

.profile > div {
  border: 2px solid #ccc;
  position: absolute;
  right: 0;
  top: 0;
  width: 200px;
}

.profile ul {
  list-style: none;
}

.profile ul li {
  display: inline;
}

#lift__noticesContainer___notice {
  border: 2px solid green;
}

#lift__noticesContainer___warning {
  border: 2px solid yellow;
}

#lift__noticesContainer___error {
  border: 2px solid red;
}

#lift__noticesContainer__ {
  line-height: 2em;
  margin-bottom: 1.5em;
}

#lift__noticesContainer__ ul {
  margin: 0;
  list-style: none;
}

#lift__noticesContainer__ li {
  padding: 3px 10px;
}

h1.logo a {
  font-size: 30px;
  line-height: 36px;
  font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  text-decoration: none;
}

textarea {
  max-width: 680px;
  border: 1px solid #ccc;
  padding: 5px;
  line-height: 20px;
}

input {
  border: 1px solid #ccc;
  padding: 3px 5px;
  line-height: 20px;
}

.deal {
  position: relative;
}

.deal .txt {
  float: left;
  width: 485px;
}

.deal .actions {
  position: absolute;
  bottom: 5px;
  right: 145px;
}

.deal .actions ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.deal .actions li {
  padding: 0;
  display: inline;
}

.deal .img {
  float: right;
  width: 125px;
}

.stats {
  text-align: center;
  padding: 10px 10px 0;
  background: #ddd;
  overflow: hidden;
}

.pagination * {
  padding: 0 5px;
}

.menu {
  background: black;
  display: block;
  float: left;
  margin: 0 auto 2em;
  width: 960px;
  font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

.menu ul {
  margin: 0 10px;
}

.menu ul li {
  display: inline;
  list-style: none;
  float: left;
  position: relative;
}

.menu ul li a {
  color: #bbb;
  display: block;
  line-height: 38px;
  padding: 0 10px;
  text-decoration: none;
}

.menu ul li a:hover,
.menu ul li.current a {
  color: #fff;
}

.menu ul li:hover {
  background: #333;
}

.header {
  position: relative;
}

.userlocation {
  position: absolute;
  right: 90px;
  top: 0;
}

#autodetect {
position: absolute;
right: 170px;
}

.languages {
  position: absolute;
  right: 0;
  top: 0;
}

.languages ul {
  position: relative;
  
}

.languages ul li {
  display: inline;
  list-style: none;
}
